USE [EnglishGame]
GO
/****** Object:  Table [dbo].[Sentence]    Script Date: 5/24/2020 1:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sentence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sound] [varchar](128) NULL,
	[Image] [varchar](128) NULL,
	[Text] [varchar](256) NULL,
 CONSTRAINT [PK_Sentence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SentenceOfUnit]    Script Date: 5/24/2020 1:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SentenceOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Sentence] [int] NOT NULL,
 CONSTRAINT [PK_SentenceOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Sentence] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit]    Script Date: 5/24/2020 1:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Word]    Script Date: 5/24/2020 1:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Word](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](128) NULL,
	[Voice] [varchar](128) NULL,
 CONSTRAINT [PK_Word] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WordOfUnit]    Script Date: 5/24/2020 1:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordOfUnit](
	[Id_Unit] [int] NOT NULL,
	[Id_Word] [int] NOT NULL,
 CONSTRAINT [PK_WordOfUnit] PRIMARY KEY CLUSTERED 
(
	[Id_Unit] ASC,
	[Id_Word] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Number]) VALUES (1, 1)
INSERT [dbo].[Unit] ([Id], [Number]) VALUES (2, 2)
INSERT [dbo].[Unit] ([Id], [Number]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[Word] ON 

INSERT [dbo].[Word] ([Id], [Image], [Voice]) VALUES (1, N'..\..\media\textures\concentration\act1\img1.png', N'..\..\media\audio\concentration\act1\sound1.mp3')
INSERT [dbo].[Word] ([Id], [Image], [Voice]) VALUES (2, N'..\..\media\textures\concentration\act1\img2.png', N'..\..\media\audio\concentration\act1\sound2.mp3')
INSERT [dbo].[Word] ([Id], [Image], [Voice]) VALUES (3, N'..\..\media\textures\concentration\act1\img3.png', N'..\..\media\audio\concentration\act1\sound3.mp3')
SET IDENTITY_INSERT [dbo].[Word] OFF
INSERT [dbo].[WordOfUnit] ([Id_Unit], [Id_Word]) VALUES (1, 1)
INSERT [dbo].[WordOfUnit] ([Id_Unit], [Id_Word]) VALUES (1, 2)
INSERT [dbo].[WordOfUnit] ([Id_Unit], [Id_Word]) VALUES (1, 3)









--1-4
INSERT [dbo].[Sentence] ([Image],[Sound],[Text]) VALUES ('..\..\media\textures\storytime\act1\img1.png','..\..\media\audio\storytime\act1\sound1.mp3','School Days')
INSERT [dbo].[Sentence] ([Image],[Sound],[Text]) VALUES ('..\..\media\textures\storytime\act1\img2.png','..\..\media\audio\storytime\act1\sound2.mp3','-What is this?')
INSERT [dbo].[Sentence] ([Image],[Sound],[Text]) VALUES ('..\..\media\textures\storytime\act1\img3.png','..\..\media\audio\storytime\act1\sound3.mp3','-It is a puppet.')
--5-8
--9-12
--13-16
--17-20
--21-24
--25-27
--28-32


INSERT [dbo].[SentenceOfUnit] ([Id_Unit], [Id_Sentence]) VALUES (1, 1)
INSERT [dbo].[SentenceOfUnit] ([Id_Unit], [Id_Sentence]) VALUES (1, 2)
INSERT [dbo].[SentenceOfUnit] ([Id_Unit], [Id_Sentence]) VALUES (1, 3)
















ALTER TABLE [dbo].[SentenceOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SentenceOfUnit_Sentence] FOREIGN KEY([Id_Sentence])
REFERENCES [dbo].[Sentence] ([Id])
GO
ALTER TABLE [dbo].[SentenceOfUnit] CHECK CONSTRAINT [FK_SentenceOfUnit_Sentence]
GO
ALTER TABLE [dbo].[SentenceOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_SentenceOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[SentenceOfUnit] CHECK CONSTRAINT [FK_SentenceOfUnit_Unit]
GO
ALTER TABLE [dbo].[WordOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_WordOfUnit_Unit] FOREIGN KEY([Id_Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[WordOfUnit] CHECK CONSTRAINT [FK_WordOfUnit_Unit]
GO
ALTER TABLE [dbo].[WordOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_WordOfUnit_Word] FOREIGN KEY([Id_Word])
REFERENCES [dbo].[Word] ([Id])
GO
ALTER TABLE [dbo].[WordOfUnit] CHECK CONSTRAINT [FK_WordOfUnit_Word]
GO
